flask>=1.0.0
flask_socketio>=1.0
flask_mongoengine>=0.8.2
flask_login>=0.3.0
flask_mail>=0.7.1
flask_bootstrap>=3.3.7.1
flask_classy>=0.6.10
validate_email>=1.0
requests>=1.0.0
wtforms>=2.0
python-dateutil>=2.1
gevent>=1.1.0
omdb>=0.10.1
git+git://github.com/fastogt/pyfastogt@master#egg=pyfastogt
git+git://github.com/fastogt/pyfastocloud@master#egg=pyfastocloud
git+git://github.com/fastogt/pyfastocloud_models@master#egg=pyfastocloud_models
